
* {
    box-sizing: border-box;
}

h2{
    text-align: center;  
    margin: 50px auto; 
 }
h3{
    font-size: 1em;
}

body{
    margin: 0;
    background-color: black;
    color: wheat;
    font-size: 22px;
}

/*  Navigation */

#navigation{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#navigation > * {
    margin-bottom: 50px;
    text-decoration: none;
}
#navigation:first-child{
    padding-top: 50px;
}
#navigation a{
    color:#7E618F;
}
#navigation :active{
    color: rgb(173, 146, 189);
}
#navigation a:hover{
    text-decoration: underline; 
}

/* Main divisions in every page */
#container{
    display: -ms-grid;
    -ms-grid-columns: 30% 40% 30%;

    display: grid;
    grid-template-columns: 30% 40% 30%;

}
#navigation{
    -ms-grid-column: 1; /*fix for IE grid placing all in first column*/
    grid-column: 1;
}

main{
    display: flex;/*IE fix for not accepting "margin:auto" */
    flex-direction: column;
    align-items: center;
    -ms-grid-column: 2; /*fix for IE grid placing all in first column*/
    grid-column: 2;
    margin: 100px auto;
    padding: 20px;
}


/* Projects page */
#imageContainer{
    display: -ms-grid;
    -ms-grid-columns: 33% 33% 33%;
    -ms-grid-gap: 10px;

    min-width: 300px;
    display: grid;
    grid-template-columns:  33% 33% 33%;
    gap: 10px;
}

#imageContainer img{
    max-width: 100%;
    margin: auto;
}

/*  Contact page  */
#contactForm input,
#contactForm textarea{
    display: block;
    width: 100%;
    background-color: antiquewhite;
    font-size: 0.9em;
    padding: 0.3em;
    margin: 10px auto 40px auto;
}

#contactForm textarea{
    height: 200px;
    width: 400px;
    margin: 10px auto 40px auto;
    resize: none;
}

#contactForm button{
    background-color: black;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 10%;
    padding: 1em;
}
.honeypot-field {
    display: none;
  }
.thankyou_message{
display: none; 
margin-top: 200px;
}
/*IE10-11 fix*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #navigation{
        margin-left: 50%;
        }
    }

/* RESPONSIVE */

@media screen and (max-width: 768px){
    h2{
        margin-top: 0px;
    }

    #container{
        display: flex;
        flex-direction: column;
    }
    /*navigation*/
    #navigation{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }
    #navigation > * {
        padding: 30px 20px 0px 10px;
        margin-bottom: 20px;
    }
    /*projects*/
    #imageContainer{
        width: auto;
        grid-template-columns: 100%;
    }
    #imageContainer img{
        max-width: 300px;
    }
    /*contact*/
    #contactForm textarea{
        height: 200px;
        width: 300px;
    }
    .thankyou_message{
        margin-top: 0;
    }
}

