* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
 }

h2{
    text-align: center;  
    margin: 50px auto; 
 }

body{
    background-color: black;
    color: wheat;
    font-size: 22px;
}

#navigation{
    height: 100vh; 
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#navigation > * {
    padding-bottom: 50px;
    text-decoration: none;
}

#container{
    display: grid; 
    grid-template-columns: 30% 40% 30%;
}

main{
    margin: 100px auto;
}

#iframesContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}




/* for development */
.testBorder{
    border: 1px solid red;
}
