* {
    box-sizing: border-box;
}

h2{
    text-align: center;  
    margin: 50px auto; 
 }

body{
    margin: 0;
    background-color: black;
    color: wheat;
    font-size: 22px;
}

/*  Navigation */

#navigation{
    height: 100vh; 
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#navigation > * {
    margin-bottom: 50px;
    text-decoration: none;
    
}
#navigation a:hover{
    text-decoration: underline; 
}

/*treca kolona smeta u responsive*/
#container{
    display: grid; 
    grid-template-columns: 30% 40% 30%;
}

main{
    margin: 100px auto;
}


/* Projects page */
#imageContainer{
    display: grid;
    grid-template-columns:  33% 33% 33%;
    gap: 10px;
}

#imageContainer img{
    height: 100px;/*? kako postaviti aspekt slike 4:3, 3:2 ... */
    width: 200px;
}

/*  Contact page  */
#contactForm input,
#contactForm textarea{
    display: block;
    width: 100%;
    background-color: antiquewhite;
    font-size: 0.9em;
    padding: 0.3em;
    margin-top: 10px;
    margin-bottom: 40px;
}

#contactForm textarea{
    height: 200px;
    width: 400px;
}

#contactForm button{
    background-color: black;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 10%;
    padding: 1em;
}




/* for development */
.testBorder{
    border: 1px solid red;
}
